/DriveLenseTask.class
/FocusModeTask$Mode.class
/FocusModeTask.class
/GetPropertyTask.class
/LiveViewTask$Begin.class
/LiveViewTask$Download.class
/LiveViewTask$End.class
/LiveViewTask.class
/SetPropertyTask.class
/ShootTask.class
/SudoTask.class
